<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This is why we need your location</string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>ddd</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>234</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>please show my location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>please show my service</string>
	<key>NSLocationDefaultAccuracyReduced</key>
	<string>please show my service</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
